page-invoice {
    .arrowIcon{
        position: absolute;
        right: 35px;
        color: blue;
        font-size: 25px;
    }
    .cardFooter{
        color: blue;
        font-size: 16px;
    }
}
